<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./app.js">

    </script>
    <title>First Web App</title>
  </head>
  <body >
    
    <!-- Dependency Injection -->

    <h1>Dependency Injection (DI)</h1>
    <div ng-controller='DIController'>
      <input type="text" ng-model="name" ng-blur="upper();">
    </div>


    <!-- <h1>Faizal</h1>
    <div ng-controller="MyFirstController" class="">
      {{sayHello()}}
      <input type="text" ng-model="name" />
      <input type="text" value="{{name}}"/>
      <input type="number" ng-model="number">
      <label for="range">0<input type="range" value="{{number}}" min="0" max="200">200</label>
      <input type="range" value="{{number}}">
      {{number}}
    </div> -->

    <script src="app.js"></script>
  </body>
</html>
