body {
  font-size: 1.2em;
  background-color: lightblue;
  text-align: center;
}
.error {
  color: red;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
#list {
  margin: 2rem;
}
#list input {
  padding: 10px
}
#list ol{
  background-color: #fff;
  border-radius: 10px;
}
#list ol li {
  margin-top: 1rem;
}
#Add-items-btn {
  background-color: green;
  color: #fff;
  padding: 11px;
  border-radius: 3px;
  border: none;
}
#Add-items-btn:hover {
  background-color: limegreen;
}
#Bought-btn {
  background-color: red;
  color: #fff;
  padding: 4px;
  border-radius: 3px;
  border: none;
  margin-left: 4rem;
}

#Donelist ol {
  width: 20rem;
    background-color: pink;
    border-radius: 10px;
    overflow: scroll;
}
#Donelist ol::-webkit-scrollbar {
  display: none;
}
#Donelist ol li {
  margin-top: .5rem;
  text-decoration: line-through;
}
